<!-- header start -->
<section class="header">
    <div class="hdr_topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="phone_number">
                        <ul>
                            <li>
                                <i class="fa-solid fa-phone"></i>
                                <a href="tell:+351 920 043 529">+351 920 043 529</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="hdr_logo">
                        <a href="index.html"><img src="images/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="social_icons">
                        <ul>
                            <li><a href=""><img src="images/instagram.png" alt=""></a></li>
                            <li><a href=""><img src="images/messenger.png" alt=""></i></a></li>
                            <li><a href=""><img src="images/whattsapp.png" alt=""></a></li>
                            <li><a href=""><img src="images/gmail.png" alt=""></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- header end -->